mixin header
  header
    a(href='https:/bezahl.de')
      img(src='./Icons/bezahl.deLogo.svg')


mixin footer      
  footer
    div(class='container')
      span NX Technologies GmbH - 
      span Friesenplatz 4 - 
      span 50672 Köln - 
      a(class='white' href='tel:+4922117738380') +49 (0)221 177383 80 - 
      a(class='white' href='mailto:service@nx-technologies.com') service@nx-technologies.com - 
      a(class='white' href='https://www.bezahl.de/impressum') Impressum
