extends ../component/layout
block title
    title justForFun
    script(src='/scripts/fun.js')
      
block content
  h1 Fun
  div.square
  div.square
  div.square
  div.square
  div.square
  div.square