extends component/layout


block content
  .col
    title Hauptseite 
    h1 Errungenschaften
    a.button(href='http://localhost:3000/splitOddAndEven') splitOddAndEven
    a.button(href='http://localhost:3000/countAmountOfEachCharacter') countAmountOfEachCharacter
    a.button(href='http://localhost:3000/removeExclamationMarksFromEnd') removeExclamationMarksFromEnd
    a.button(href='http://localhost:3000/Taschenrechner') Taschenrechner

