extends component/layout


block content
    title Hauptseite 
    h1 Errungenschaften
    a(class='button' href='http://localhost:3000/splitOddAndEven') splitOddAndEven
    a(class='button' href='http://localhost:3000/countAmountOfEachCharacter') countAmountOfEachCharacter
    //a(class='button' href='http://localhost:3000/removeExclamationMarksFromEnd') (removeExclamationMarksFromEnd) in bearbeitung 
    a(class='button' href='http://localhost:3000/Taschenrechner') Taschenrechner

