extends component/layout

block content
  title Hauptseite 
  a.button(href='http://localhost:3000/splitOddAndEven') splitOddAndEven
  a.button(href='http://localhost:3000/countAmountOfEachCharacter') countAmountOfEachCharacter
  a.button(href='http://localhost:3000/removeExclamationMarksFromEnd') removeExclamationMarksFromEnd
  a.button(href='http://localhost:3000/correctMistakes') correctMistakes
  a.button(href='http://localhost:3000/calculator') calculator
<<<<<<< HEAD
  a.button(href='http://localhost:3000/api') api
  a.button(href='http://localhost:3000/puppies') puppies
  //- a.button(href='http://localhost:3000/fun') ???
=======
  a.button(href='http://localhost:3000/api') API
  a.button(href='http://localhost:3000/fun') ???
>>>>>>> e7acfe2ebf4bc94966061734c40896aee7e1e31f
