extends component/layout


block content
  .row
    .col
      title Hauptseite 
      h1 Errungenschaften
      a.button(href='http://localhost:3000/splitOddAndEven') splitOddAndEven
      a.button(href='http://localhost:3000/countAmountOfEachCharacter') countAmountOfEachCharacter
      //a(class='button' href='http://localhost:3000/removeExclamationMarksFromEnd') (removeExclamationMarksFromEnd) in bearbeitung 
      a.button(href='http://localhost:3000/Taschenrechner') Taschenrechner

