extends ./component/layout
block title
    title countAmountOfEachCharacter
    script.
      function add() {
        const mi = document.createElement("input");
        mi.setAttribute('type', 'text');
        mi.setAttribute('value', 'default');
        mi.setAttribute('name', 'testinput');
        const memb = document.getElementById("inputFields");
        memb.appendChild(mi);
        console.log(memb)
      }
    
block content
    .container
      title Hauptseite Aufgaben
      
      h1 Errungenschaften
      a(class='button' href='http://localhost:3000/Taschenrechner') Taschenrechner
      a(class='button' href='http://localhost:3000/countAmountOfEachCharacter') countAmountOfEachCharacter
      a(class='button' href='http://localhost:3000/splitOddAndEven') splitOddAndEven
      a(class='button' href='http://localhost:3000/removeExclamationMarksFromEnd') (removeExclamationMarksFromEnd)
    #inputFields
      input(type='text' id='member' name='member' value='')
      a(href='#' id='filldetails' onclick='add()') Fill Details
    div(id='container')
