extends ../component/layout
block title
    title removeExclamationMarksFromEnd 

block content
  h1 removeExclamationMarksFromEnd
    div(class='col-1')
      form(method='post')
        label(for='input') Satz:
          input(id='input' name='input')
          input(type='submit' value='Submit')
    p Ergebnis:
      pre= JSON.stringify(newString)       
