doctype html
html
  head
    link(rel='stylesheet', href='./style.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='./icons/logo.png')
    block title
    
  header
    a(href='http://localhost:3000/')
      img(src='./icons/bezahl.deLogo.svg')
  body    
  block content
   
  footer
    div(class='container')
      span(class='bold') NX Technologies GmbH
        div(class='container')  
      span Friesenplatz 4 | 50672 Köln
        div(class='container')  
      a(class='white' href='tel:+4922117738380') +49 (0)221 177383 80 | 
      a(class='white' href='mailto:service@nx-technologies.com') service@nx-technologies.com | 
      a(class='white' href='https://www.bezahl.de/impressum') Impressum
