*{
  margin:0;
  padding:0;
 }

body{
 		  background-color:#f2f2f2;
 		  font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
	 	 }
	 	 
header{
      height: 20%;
      box-shadow: 0 0 8px rgba(0,0,0,.2);
      padding:50% auto;
      background-color:#ffffff;
      }
      	 
h1{
	 font-size:45px;
	 padding:20px;
	 color:black;
	 margin:auto 20%;
	}
	
img{
    margin:auto 20%;
    padding:1%; 
    }
     
.button{
		     width:100%;
         text-align:center;
         float:left;
         line-height:12vh;
         cursor:pointer;
         background-color:#f2f2f2;
         color:#009EFA;
         font-size:5vh;
         border: 3px #009EFA;
     		 max-height:100px;
        }
    
.white{
       color:white;
      }
    
.smallButton{
		         width:10%;
             text-align:center;
             float:left;
             line-height:12vh;
             cursor:pointer;
             background-color:#009EFA;
             font-size:5vh;
             border: 3px #009EFA;
         		 max-height:100px;
            }
    
.button:hover{
	           background-color:#F23D65;
	           }

.bold{
      font-weight: bold;   
     }

.platz{
       whitespace: pre-wrap
      }
form{
 		 width:50%;	
		 font-size:20px;
		 position:center;
		 padding: 40px 0px;
		}
		
label{
		 	color:f2f2f2;
		 }

input{
      padding:8px;      
      }

footer{
			 color:#ffffff;
			 width: 90%;
			 position:absolute; 
			 bottom:0px;
			 height: 15%;
			 width:100%; 
			 background-color:black;
			 display: flex;
			}

.button1{
         width:25%;
         height:20%;
         text-align:center;
         float:left;
         line-height:12vh;
         cursor:pointer;
         color:#009EFA;
         font-size:5vh;
         border: 1px #009EFA
        }

.container{
			 	    margin:auto;
			 	    max-width:1000px;
			 	    padding-right:100px;
			 	    text-align:center;
 	       }

span{
     width:100%;
    }

p{
	font-size:30px;
  }
    
#tastatur{
	        width:100%;
	        height:60%;
	        float:left;
	        background-color:white;
	        color:#009EFA;
	        text-align:center;
	        font-size:6vh;
	        font-family:helvetica-w01-light,helvetica-w02-light,sans-serif; 
	       }
	 
#anzeige{
	        width:100%;
	        height:40%;
	        float:left;
	        background-image: url("hintergrund/bezahlde_hintergrund.png");
	        color:white;
	        text-align:right;
	        line-height:30vh;
	        font-size:9vh;
	       }
