extends ../component/layout
block title
    title splitOddAndEven 

block content
  h1 splitOddAndEven
    form(method='post')
      div(class='col-1')
        label(for='input') Nummern:
          input(id='input' name='input' type='number'  min='1' max='99999')
        label(for='input')
          input(id='input' name='input' type='number'  min='1' max='99999')
          input(type='submit' value='Submit')     
    p Even:
      pre= JSON.stringify(even)    
    p Odd:
      pre= JSON.stringify(odd)
