extends ../component/layout
block title
    title splitOddAndEven 
    script.
      function add() {
        const mi = document.createElement("input");
        mi.setAttribute('type', 'text');
        mi.setAttribute('value', '');
        mi.setAttribute('name', 'input');
        const memb = document.getElementById("inputFields");
        memb.appendChild(mi);
        console.log(memb)
      }
      
block content
   h1 splitOddAndEven
    .col
      form(method='post')
        label(for='input') Nummern:
          #inputFields
          input(type='text' id='input' name='input' value='')
          a.btn(href='#' id='input' onclick='add()') Add Input
          input.btn(type='submit' value='Submit')      
        p Even:
          pre= JSON.stringify(even)    
        p Odd:
          pre= JSON.stringify(odd)
