extends ../component/layout
block title
    title splitOddAndEven 
    script(src='/scripts/add.js')
      
block content
   h1 splitOddAndEven
    .col
      form(method='post')
        label(for='input') Nummern:
          #inputFields
          input(type='text' id='input' name='input' value='')
          a.btn(href='#' id='input' onclick='add()') Add Input
          input.btn(type='submit' value='Submit')      
        p Even:
          pre= JSON.stringify(even)    
        p Odd:
          pre= JSON.stringify(odd)