extends ../component/layout


block content
    title splitOddAndEven 
    h1 splitOddAndEven
      form(method='post' class=col-2)
        label(for='input') Nummer:
          input(id='input' name='input' type='number'  min='1' max='99999')
        label(for='input') Nummer:
          input(id='input' name='input' type='number'  min='1' max='99999')
          input(type='submit' value='Submit')     
          
    pre= JSON.stringify(params)    
