doctype html
html
  header
    link(rel='stylesheet', href='./style.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='./icons/logo.png')
  
    a(href='http://localhost:3000/')
      img(src='./icons/bezahl.deLogo.svg')
    script(src='/scripts/calculator.js')
    title calculator

    input(id='anzeige' type='text' disabled)
    #tastatur
      button.button1(onclick='operation(value)' value='ce') CE
      button.button1(onclick='operationc(value)' value='0') C
      button.button1(onclick='operationpro(value)') %
      button.button1(onclick='operation(value)' value='+') +
      button.button1(onclick='number(value)' value=7) 7
      button.button1(onclick='number(value)' value=8) 8
      button.button1(onclick='number(value)' value=9) 9
      button.button1(onclick='operation(value)' value='-') -
      button.button1(onclick='number(value)' value=4) 4
      button.button1(onclick='number(value)' value=5) 5
      button.button1(onclick='number(value)' value=6) 6
      button.button1(onclick='operation(value)' value='*') *
      button.button1(onclick='number(value)' value=1) 1
      button.button1(onclick='number(value)' value=2) 2
      button.button1(onclick='number(value)' value=3) 3
      button.button1(onclick='operation(value)' value='/') :
      button.button1(onclick='operationhoch(value)' value='²') x²
      button.button1(onclick='number(value)' value=0) 0
      button.button1(onclick='number(value)' value='.') .
      button.button1(onclick='operation(value)' value='=') =
