extends ../component/layout
block title
    title countAmountOfEachCharacter

block content
  h1 countAmountOfEachCharacter
    .col
      form(method='post')
        label(for='input') Satz-1:
          input(id='input' name='input')
        label(for='input') Satz-2:
          input(id='input' name='input')
          input(type='submit' value='Submit')     
        p Ergebnis:
          pre= JSON.stringify(safe)   
