extends ../component/layout


block content
    title countAmountOfEachCharacter 
    h1 countAmountOfEachCharacter
      form(method='post' class=col-2)
        label(for='input') Satz-1:
          input(id='input' name='input')
        label(for='input') Satz-2:
          input(id='input' name='input')
          input(type='submit' value='Submit')     
        br 
        br
        a Ergebnis:
          pre= JSON.stringify(safe)   
