extends ../component/layout
block title
    title countAmountOfEachCharacter
    script(src='/scripts/add.js')
      
block content
  h1 countAmountOfEachCharacter
    .col
      form(method='post')
        label(for='input') Sätze:
          #inputFields
          input(type='text' id='input' name='input' value='')
          a.btn(href='#' id='input' onclick='add()') Add Input
          input.btn(type='submit' value='Submit')     
        p Ergebnis:
          pre= JSON.stringify(safe)  
