doctype html
html
  head
    link(rel='stylesheet', href='./style.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='./Icons/logo.png')
    title removeExclamationMarksFromEnd
    include ../components/mixins.pug
  body
    +header
    h1 removeExclamationMarksFromEnd
      form(action='/ergebnis'  methode='post' class=col-2)
        label(for='input') Nummer:
          input(id='input' name='input')
          input(type='submit' value='Submit')         
    +footer
